.productName {
  font-size: 1.5rem;
  font-weight: 500;
}
.modal {
  top: 70% !important;
}
.productDescription {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: -1rem !important;
}
.tags {
  margin-top: -1rem !important;
  > span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    color: rgb(44, 44, 44);
    font-size: 0.9rem;
    font-weight: 600;
  }
}
